# Ignore object files and binaries
*.o
*.out
*.exe

# Ignore build directories
/build/
/dist/
/Debug/

# Ignore logs
*.log

# Ignore editor-specific files
*.swp
.vscode/
.idea/
.DS_Store

# Ignore IDE-specific project settings
.settings/
*.mxproject
*.cproject
*.project
*.launch

